# Core
Django==5.2.13

# Auth & Social
django-allauth==65.15.1

# Static files (prod)
whitenoise==6.7.0

# Database (prod)
psycopg2-binary==2.9.9

# Image upload
Pillow==12.2.0

# Utilitaires
python-dotenv==1.0.1
requests==2.33.1
PyJWT==2.12.1
cryptography==46.0.7
